[submodule "yaml2bib"]
	path = yaml2bib
	url = https://github.com/jakobib/yaml2bib.git
[submodule "pandocfilters"]
	path = pandocfilters
	url = git@github.com:jgm/pandocfilters.git
[submodule "css"]
	path = css
	url = https://github.com/hshdb/pandoc-bootstrap-template.git
